---
layout: archive
header:
  image: /assets/images/EG.jpg
---

{{ content }}
<style>
img {
  max-width: 100%;
  height: auto;
}
</style>
<body>


<p><h3>Hi, my name is Nir.<br>
I am a Bioinformatician and Software Developer.</h3></p>
<p><h5>Recently completed my master's degree in computer science <br>
(Bioinformatics specialization).  <br></h5></p>

<p><h5>I develop and orchestrating cryptocurrency algorithmic software I created in the meantime, 
open for job offerings as well as freelancing data science\ scraping projects.<br></h5></p>


<p><h5>Newer projects can be found on my <a href="https://github.com/Nirol">github</a> page.</p>

<p>June 2020: I completed two big data science \ ML projects on my Github on 
the Israeli elections  and California housing prices as well as couple of 
scraping projects.<p>


<p> Recent Udemy courses completed:
<ul>
<li><a href="https://www.udemy.com/course/python-for-statistical-analysis/">python for statistical analysis</a> </li>
<li><a href="https://www.udemy.com/course/linux-academy-aws-essentials-2019/">AWS Essentials (2019)</a> </li>
<li><a href="https://www.udemy.com/course/ec2with10labs//">Master Amazon EC2 Basics with 10 Labs</a> </li>
</ul>
<h5>My <a href="assets/pdf/Resume_Nir_Gilad.pdf">resume</a></h5>


<img src="/assets/images/EG.jpg" alt="Kibbutz Ein Gedi View To The Dead Sea">



<p style="margin-top:30px;float:left">
<div2><font size="2"> Lull Contributions:
  <img src="https://ghchart.rshah.org/nirol" alt="Nir Contributions" /></font>
</div2>
</p>
</body>
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- {% include paginator.html %} -->